<div class="agregar-libro-container">
  <h2>Agregar Libro</h2>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <label for="title">Titulo</label>
    <input id="title" formControlName="title" placeholder="Titulo del libro" type="text" />

    <label for="autor">Autor</label>
    <input id="autor" formControlName="autor" placeholder="Autor del libro" type="text" />

    <label for="genero">Genero</label>
    <input id="genero" formControlName="genero" placeholder="Genero del libro, aventura, acción, etc" type="text" />

    <label for="date">Fecha de lectura</label>
    <input id="date" formControlName="date" placeholder="Fecha" type="date" />

    <label for="state">Estado de lectura</label>
    <select id="state" formControlName="state">
      <option value="leído">Leído</option>
      <option value="en progreso">En progreso</option>
      <option value="no leído">No leído</option>
    </select>

    <label for="review">Reseña General</label>
    <textarea id="review" formControlName="review" placeholder="Reseña"></textarea>

    <button type="submit" [disabled]="bookForm.invalid">Agregar Libro</button>
  </form>
</div>
