<div class="agregar-club-container">
  <h2>Crear Club</h2>
  <form [formGroup]="clubForm" (ngSubmit)="onSubmit()">
    <label for="name">Nombre del club</label>
    <input id="name" formControlName="name" placeholder="Nombre para el club" type="text" />

    <label for="location">Localización</label>
    <input id="location" formControlName="location" placeholder="Localización del club" type="text" />

    <label for="members">Miembros max</label>
    <input id="members" formControlName="members" placeholder="Miembros máximo permitido" type="number" />

    <label for="date">Fecha de creación</label>
    <input id="date" formControlName="date" placeholder="Fecha" type="date" />

    <label for="idBook">Elegir Libro</label>
    <select id="idBook" formControlName="idBook">
      <option *ngFor="let book of books" [value]="book.id">{{ book.title }}</option>
    </select>

    <label for="description">Reseña General</label>
    <textarea id="description" formControlName="description" placeholder="Reseña"></textarea>

    <button type="submit" [disabled]="clubForm.invalid">Crear club</button>
  </form>
</div>
