<div>
  <div class="Mis-clubs-content">
    <h2>Mis Clubs Creados</h2>
    <div class="clubs-grid">
      <div *ngFor="let club of ownedClubs" class="club-card" (click)="verClub(club.id)">
        <p>{{ club.name }}</p>
      </div>
      <div class="agregar-club" (click)="agregarClub()">
        <p>+</p>
      </div>
    </div>
  </div>
  <div class="Mis-clubs-content">
    <h2>Mis Clubs como Miembro</h2>
    <div class="clubs-grid">
      <div *ngFor="let club of memberClubs" class="club-card" (click)="verClub(club.id)">
        <p>{{ club.name }}</p>
      </div>
    </div>
  </div>
  <div class="Mis-clubs-content">
    <h2>Otros Clubs</h2>
    <div class="clubs-grid">
      <div *ngFor="let club of clubs" class="club-card">
        <p>{{ club.name }}</p>
        <button (click)="joinClub(club.id)">Unirse</button>
      </div>
    </div>
  </div>

  <app-join-club-modal *ngIf="showModal" (joinClub)="onJoinClub($event)" (close)="closeModal()"></app-join-club-modal>
</div>
