.contenedor-header {
    background: #825B32;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }
  
  .contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .contenedor-header header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1; 
  }
  
  
  .contenedor-header header nav ul li a {
    text-decoration: none;
    color: aliceblue;
    padding: 4px;
    transition: 0.5s;
    margin-left: 70px;
  }
  
  .contenedor-header header nav ul li a:hover {
    color: #AF8F6F;
  }
  
  .nav-responsive {
    background-color: #ffffff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }
  
  .nav-icon-container {
    display: flex;
    align-items: center;
    margin-left: auto; 
  }
  
  .nav-icon-profile, .nav-icon-logout {
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
  }
  
  .nav-icon-profile fa-icon, .nav-icon-logout fa-icon {
    color: #fff;
    font-size: 22px;
    transition: color 0.3s;
  }
  
  .nav-icon-profile fa-icon:hover, .nav-icon-logout fa-icon:hover {
    color: #AF8F6F;
  }
  