<div class="container" *ngIf="clubInfo">
  <h1>{{ clubInfo.name }}</h1>

  <div class="card">
    <h2>
      <span *ngIf="!editMode">{{ clubInfo.name }}</span>
      <input *ngIf="editMode" [(ngModel)]="editableClub.name" type="text" />
    </h2>
    <p>
      Localización:
      <span *ngIf="!editMode">{{ clubInfo.location }}</span>
      <input *ngIf="editMode" [(ngModel)]="editableClub.location" type="text" />
    </p>
    <p>Miembros:
      <span *ngIf="!editMode">{{ clubInfo.members }}</span>
      <input *ngIf="editMode" [(ngModel)]="editableClub.members" type="text" />
    </p>
    <p>Fecha de creación: {{ clubInfo.date | date:'dd/MM/yyyy' }}</p>
    <p>Descripción:
      <span *ngIf="!editMode">{{ clubInfo.description }}</span>
      <input *ngIf="editMode" [(ngModel)]="editableClub.description" type="text" />
    </p>
    <a routerLink="/misClubs" class="exit">Salir del club</a>
    <button *ngIf="!editMode && clubInfo.idOwner === userId" (click)="edit()">Editar</button>
    <button *ngIf="!editMode && clubInfo.idOwner === userId" (click)="openModal()">Eliminar</button>
    <div *ngIf="editMode">
      <button (click)="save()">Aceptar</button>
      <button (click)="cancel()">Cancelar</button>
    </div>
  </div>

  <h3>Chat de Discusión:</h3>
  <div class="chat-section">
    <div *ngFor="let comentario of comentarios" class="comentario">
      <h4>🗣 {{ comentario.userName }}</h4>
      <p>{{ comentario.comments }}</p>
    </div>

    <div class="comment-form">
      <label for="comentario">Agregar comentario</label>
      <textarea id="comentario" rows="3" [(ngModel)]="nuevoComentario"></textarea>
      <button type="button" id="button-comment" (click)="agregarComentario()">Submit</button>
    </div>
  </div>

  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <p>¿Estás seguro de que quieres eliminar este club?</p>
      <button (click)="confirmDelete()">Sí</button>
      <button (click)="closeModal()">No</button>
    </div>
  </div>
</div>
